# ==========================================================
# Python
# ==========================================================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
.eggs/

# ==========================================================
# Virtual Environments
# ==========================================================
.venv/
venv/
env/

# ==========================================================
# Python Build Artifacts
# ==========================================================
build/
dist/
pip-wheel-metadata/

# ==========================================================
# Cache
# ==========================================================
.pytest_cache/
.cache/
.mypy_cache/
.ruff_cache/
.pyre/
.tox/
.nox/

# ==========================================================
# Coverage
# ==========================================================
.coverage
.coverage.*
coverage.xml
htmlcov/

# ==========================================================
# Django
# ==========================================================
*.sqlite3
media/

# ==========================================================
# Environment Variables
# ==========================================================
.env
.env.*

# ==========================================================
# Git
# ==========================================================
.git/
.gitignore

# ==========================================================
# IDE
# ==========================================================
.vscode/
.idea/

# ==========================================================
# Documentation
# ==========================================================
docs/

# ==========================================================
# Docker
# ==========================================================
Dockerfile*
docker-compose*.yml

# ==========================================================
# Logs
# ==========================================================
*.log

# ==========================================================
# Operating System Files
# ==========================================================
.DS_Store
Thumbs.db
desktop.ini